* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: hsl(0, 0%, 93%);
}

a {
  text-decoration: none;
}

a:hover {
  color: hsl(29, 72%, 56%);
}

header {
  border-bottom: 1px solid black;
  /* border-top: 2px solid black; */
  position: fixed;
  width: 100%;
  height: 79px;
  background-color: hsl(0, 0%, 18%);
  color: white;
  overflow: hidden;
}

header img {
  display: block;
  /* height: 77px;
  width: 77px; */
  float: left;
  margin-right: 10px;
}

header #mean {
  height: 69px;
  /* width: 250px; */
  margin-top: 5px;
  /* margin-left: 450px; */
  /* float: left; */
}

header p {
  line-height: 79px;
  font-size: 1.5em;
  float: left;
  /* margin-left: 20px; */
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(83, 83, 83);
}

#header-elements {
  display: flex;
  justify-content: center;
}

/* ==================================================
NAVIGATION
===================================================== */

nav {
  float: left;
  width: 15%;
  border-right: 1px solid black;
  /* border-bottom: 2px solid black; */
  height: 100%;
  position: fixed;
  top: 79px;
  background-color: hsl(0, 0%, 27%);
}

nav #here {
  color: white;
  /* background-color: hsl(32, 66%, 55%); */
  background-color: hsl(0, 50%, 47%);
}

nav h2 {
  text-align: center;
  font-weight: normal;
  padding: 5px 0;
  background-color: hsl(0, 50%, 47%);
  color: rgb(241, 241, 241);
  font-family: sans-serif;
  /* border-bottom: 1px solid black; */
}

nav a {
  display: block;
  width: 100%;
  border: 1px solid black;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 11px;
  text-align: center;
  background-color: hsl(0, 0%, 27%);
  color: white;
  font-size: 1.15em;
  text-decoration: none;
  margin-top: -1px;
  text-shadow: 1px 1px 4px rgb(22, 22, 22);
}

nav ul:last-child {
  border-bottom: 1px solid black;
}

nav a:hover {
  background-color: hsl(0, 0%, 18%);
  color: white;
}

nav a:active {
  background-color: hsl(0, 0%, 28%);
}

nav a[target="_blank"] {
  /* background-color: hsl(0, 0%, 83%); */
  background-image: url('images/extred.png');
  background-position: right;
  background-repeat: no-repeat;
}

nav a[target="_blank"]:hover {
  background-color: hsl(0, 0%, 18%);
}

/* ==================================================

===================================================== */

main {
  float: right;
  width: 85%;
  margin-top: 60px;
  padding: 30px;
  min-height: 625px;
}

/* ==================================================
HEADINGS - GENERAL
===================================================== */

main h1, h2, h3 {
  text-align: center;
}

h1, h2, h3 {
  font-family: sans-serif;
  text-shadow: 1px 1px 4px rgb(185, 185, 185);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

/* ==================================================

===================================================== */

#description {
  /* border: 1px solid black; */
  /* padding: 5px 5px 0 5px; */
  /* margin: 5px auto 50px auto; */
  /* background-color: hsl(240, 8%, 92%); */
  font-family: sans-serif;

  overflow:hidden;
  margin: 0 auto;
  min-width: 1100px;

  margin-bottom: 10px;
}

#description #mean-intro {
  float: left;
  width: 615px;
}

#description img {
  float: right;
  margin-top: 10px;
}

#description a {
  color: hsl(29, 72%, 56%);
}

/* ==================================================
BIG LINKS
===================================================== */

.bigLinks ul {
  display:flex;
  justify-content: center;
  overflow: hidden;
  /* width: 100%; */
}

#big-links-2 {
  width: 50%;
}

.bigLinks a {
  border: 2px solid black;
  height: 300px;
  width: 500px;
  display: block;
  margin: 20px auto;
  text-align: center;
  line-height: 300px;
  font-size: 3em;
  text-decoration: none;
  background-color: hsl(0, 0%, 27%);
  color: white;
  float: left;
  margin-left: 1%;

  text-shadow: 1px 1px 4px rgb(22, 22, 22);

  border-radius: 4px; 

  -webkit-box-shadow: 0 6px 6px -6px black;
  -moz-box-shadow: 0 6px 6px -6px black;
  box-shadow: 0 6px 6px -6px black;

  font-weight: bold;
}

.bigLinks a:hover {
  /* background-color: hsl(240, 60%, 20%); */
  background-image: url('images/hover.png');
  color: rgb(231, 231, 231);
}

.bigLinks a[target="_blank"] {
  background-color: hsl(0, 0%, 27%);
}

.bigLinks a[target="_blank"]::after {
  content: url('images/extred.png');
}

/* ==================================================
RESOURCES
===================================================== */

#re-wrapper {
  overflow:hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-shadow: 1px 1px 4px rgb(206, 206, 206);
}

#resources {
  /* border: 1px solid black; */

  /* margin: 5px auto; */
  /* padding: 5px; */
  /* background-color: hsl(240, 8%, 92%); */
  float: left;
  display: block;
}

#resource-text {
  float:left;
  display: block;
  margin-left: 5%;
  width: 30%;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 30px;
  text-shadow: 1px 1px 4px rgb(199, 199, 199);
}

#resources ul {
  list-style-type: disc;
  margin-left: 10%;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 30px;
}

#resources li {
  padding: 2px;
}

#resources a {
  color: hsl(0, 50%, 47%);
}

#resources a:visited {
  color: hsl(0, 50%, 47%);
}

/* ==================================================
TEAM DISPLAY
===================================================== */

/* #team {
  margin: 0 auto;
} */

/* Card wrapper */
#team-display-wrapper {
  width: 100%;
}

/* Card headers */
.member-card h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: rgb(76, 160, 76);
}

/* Card objects */
.member-card {
  padding: 5px;
  text-align: center;
  width: 390px;
  height: 250px;
  line-height: 1.5em;
  float:left;
  margin: 10px 0px 30px 95px;

  text-shadow: 1px 1px 4px rgb(165, 165, 165);

  background-color: rgb(228, 228, 228);

  border: 1px solid rgb(172, 172, 172);
  border-radius: 4px; 

  -webkit-box-shadow: 0 5px 6px -6px black;
  -moz-box-shadow: 0 5px 6px -6px black;
  box-shadow: 0 5px 6px -6px black;
}

.member-card .role {
  font-weight: bold;
  color: rgb(138, 36, 36);
}

.member-card li a {
/*   font-weight: bold; */
  color: black;
}

.member-card li a:hover {
  color: hsl(29, 72%, 56%);
}

/* ==================================================
GENERAL FORMATTING
===================================================== */

hr {
  margin: 20px 0px 20px 0px;
}

ul {
  list-style-type: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==================================================
FOOTER
===================================================== */

footer {
  clear: both;
  width: 100%;
  border-top: 1px solid black;
  height: 30px;
  line-height: 30px;
  background-color: hsl(0, 0%, 18%);
  color: white;
  position: fixed;
  bottom: 0;
}

footer #foot {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

#foot p {
  float: right;
  padding: 0 30px;
}

footer ul {
  width: 85%;
  margin: 0 auto;
}

footer ul li {
  float: left;
  width: 33%;
  text-align: center;
  margin: 0 auto;
}

footer a {
  color: hsl(29, 72%, 56%);
  text-decoration: none;
}

footer a:hover {
  color: white;
}

/* ==================================================
DEMO PAGE CONTENT
===================================================== */

#demo-area {
  overflow:hidden;
  margin: 0 auto;
  max-width: 960px;
  min-width: 900px;
}

#demo-area p {
  float: right;
  width: 600px;
}

/* ==================================================
QR CODE APP
===================================================== */

.qrbox {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 10px;
  overflow: hidden;
  float: left;
}

.qrimg {
  height: 300px;
  width: 300px;
  padding: 1rem;
  border: 3px solid hsl(88, 54%, 65%);
  border-radius: 0.5rem;
  grid-column: 1 / -1;
  margin: 0 auto;
}

textarea {
  outline: none;
  height: 100px;
  width: 300px;
  padding: 1rem;
  border: 3px solid hsl(88, 54%, 65%);
  border-radius: 0.5rem;
  grid-column: 1 / -1;
  margin: 0 auto;
}

button {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: hsl(88, 54%, 65%);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.2s;
  width: 300px;
  margin: 0 auto;
}
button:hover {
  background-color: hsl(88, 32%, 52%);
}
