* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 4px rgb(173, 173, 173);
  font-family: Verdana, sans-serif;
}

body {
  background-color: hsl(240, 5%, 85%);
}

a {
  color: hsl(240, 90%, 20%);
}

a:hover {
  color: hsl(240, 90%, 35%);
}

header {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  position: fixed;
  width: 100%;
  height: 79px;
  background-color: hsl(240, 6%, 14%);
  color: white;
  overflow: hidden;
}

header img {
  display: block;
  height: 77px;
  width: 77px;
  float: left;
  margin-left: 75px;
}

header #mean {
  height: 60px;
  width: 250px;
  margin-top: 8px;
  margin-left: 450px;
  float: left;
}

header p {
  line-height: 79px;
  font-size: 1.25em;
  float: left;
  margin-left: 20px;

}

nav {
  float: left;
  width: 15%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
  position: fixed;
  top: 79px;
  background-color: hsl(234, 4%, 55%);
}

nav #here {
  color: hsl(240, 20%, 40%);
  background-color: hsl(240, 0%, 75%);
}

nav h2 {
  text-align: center;
  font-weight: normal;
  padding: 10px 0;
  background-color: hsl(235, 75%, 85%);
}

nav a {
  display: block;
  width: 100%;
  border: 1px solid black;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 9px;
  text-align: center;
  background-color: hsl(235, 75%, 85%);
  color: black;
  font-size: 1.15em;
  text-decoration: none;
}

nav ul:last-child {
  border-bottom: 1px solid black;
}

nav a:hover {
  background-color: hsl(235, 90%, 90%);
}

nav a[target="_blank"] {
  background-color: hsl(275, 75%, 85%);
  background-image: url('images/ext4.png');
  background-position: right;
  background-repeat: no-repeat;
}

nav a[target="_blank"]:hover {
  background-color: hsl(275, 90%, 90%);
}

main {
  float: right;
  width: 85%;
  margin-top: 79px;
  padding: 30px;
  min-height: 625px;
}

main h1 {
  text-align: center;
}

#description {
  border: 1px solid black;
  padding: 5px 5px 0 5px;
  margin: 5px auto 50px auto;
  width: 85%;
  background-color: hsl(240, 8%, 92%);
}

#description p {
  margin-bottom: 5px;
}

#bigLinks a {
  border: 2px solid black;
  height: 300px;
  width: 500px;
  display: block;
  margin: 20px auto;
  text-align: center;
  line-height: 300px;
  font-size: 3em;
  text-decoration: none;
  background-color: hsl(240, 60%, 16%);
  color: hsl(240, 100%, 92%);
}

#bigLinks a:hover {
  /* background-color: hsl(240, 60%, 20%); */
  background-image: url('images/hover.png');
  color: white;
}

#bigLinks a[target="_blank"] {
  background-color: hsl(275, 60%, 16%);
}

#bigLinks a[target="_blank"]::after {
  content: url('images/ext2.png');
}

ul {
  list-style-type: none;
}

#resources {
  border: 1px solid black;
  width: 85%;
  margin: 5px auto;
  padding: 5px;
  background-color: hsl(240, 8%, 92%);
  text-align: center;
}

#resources ul {
  padding-bottom: 10px;
}

#resources li {
  padding: 2px;
}

#team {
  width: 85%;
  margin: 5px auto;
  padding: 5px;
}

#team h3 {
  padding: 5px;
  text-align: center;
}

#team td {
  border: 1px solid black;
  padding: 5px;
  background-color: hsl(240, 8%, 92%);
}

#team tr {
  margin-bottom: 5px;
}

footer {
  clear: both;
  width: 100%;
  border-top: 2px solid black;
  height: 50px;
  line-height: 50px;
  background-color: hsl(240, 6%, 14%);
  color: white;
  position: fixed;
  bottom: 0;
}

footer #foot {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

#foot p {
  float: right;
  padding: 0 30px;
}

footer ul {
  width: 85%;
  margin: 0 auto;
}

footer ul li {
  float: left;
  width: 33%;
  text-align: center;
  margin: 0 auto;
}

footer a {
  color: hsl(240, 100%, 92%);
  text-decoration: none;
}

footer a:hover {
  color: white;
}
